/* Font */
@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");
/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* Color */
/* Media query */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 1rem;
}
@media screen and (min-width: 650px) {
  .nav {
    padding: 2rem 2.5rem;
    font-size: 0.9rem;
  }
}

.nav_dark_layer {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: hsl(0, 0%, 8%);
  opacity: 80%;
  display: none;
}
@media screen and (min-width: 650px) {
  .nav_dark_layer {
    opacity: 0;
  }
}

.nav_menu {
  position: absolute;
  z-index: 3;
  top: 0;
  right: 0;
  width: 15rem;
  height: 100vh;
  background-color: hsl(0, 0%, 98%);
  padding-block-start: 5rem;
  padding-inline-start: 1.5rem;
  display: none;
  overflow: scroll;
}
@media screen and (min-width: 650px) {
  .nav_menu {
    height: unset;
    position: unset;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0;
    overflow: visible;
  }
}

.nav_menu_icon {
  margin-inline-start: auto;
  z-index: 3;
}
@media screen and (min-width: 650px) {
  .nav_menu_icon {
    display: none;
  }
}

.menu_selection {
  display: grid;
  gap: 1rem;
}
@media screen and (min-width: 650px) {
  .menu_selection {
    display: flex;
    margin-inline: 4rem;
    gap: 2.5rem;
  }
}

.list_header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.list_header:hover,
.selection_option:hover,
.menu_buttons a:hover {
  filter: brightness(0.4);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.selection_dropdown_list {
  position: relative;
}

.selection_dropdown_list:nth-child(1) .dropdown_list {
  list-style: none;
  padding-left: 3rem;
}
.selection_dropdown_list:nth-child(1) .dropdown_list li {
  position: relative;
  line-height: 1.25;
}
.selection_dropdown_list:nth-child(1) .dropdown_list li::before {
  content: "";
  position: absolute;
  left: -2rem;
  top: 0;
  bottom: 0;
  margin-bottom: auto;
  background-image: url(../../images/icon-todo.svg);
  width: 1rem;
  background-size: contain;
  background-repeat: no-repeat;
}
.selection_dropdown_list:nth-child(1) .dropdown_list li:nth-child(2)::before {
  background-image: url(../../images/icon-calendar.svg);
}
.selection_dropdown_list:nth-child(1) .dropdown_list li:nth-child(3)::before {
  background-image: url(../../images/icon-reminders.svg);
}
.selection_dropdown_list:nth-child(1) .dropdown_list li:nth-child(4)::before {
  background-image: url(../../images/icon-planning.svg);
}

.selection_dropdown_list:nth-child(2) .dropdown_list {
  list-style: none;
  padding-left: 1rem;
}

.dropdown_list {
  background-color: inherit;
  transform-origin: top center;
  transform: scaleY(0);
  max-height: 0;
  display: grid;
  gap: 1rem;
  padding-block: 0;
}
@media screen and (min-width: 650px) {
  .dropdown_list {
    position: absolute;
    right: 0;
    top: 1.5rem;
    box-shadow: 0px 0px 1rem -0.7rem black;
    border-radius: 1rem;
    padding-inline: 1rem;
    margin-block: 0;
    width: max-content;
  }
}

@keyframes dropList {
  0% {
    transform: scaleY(0);
  }
  50% {
    max-height: fit-content;
  }
  100% {
    transform: scale(1);
    max-height: fit-content;
    margin-block: 1rem;
    padding-block: 0.5rem;
  }
}
@keyframes collapseList {
  0% {
    transform: scaleY(1);
    max-height: fit-content;
  }
  50% {
    transform: scaleY(0);
  }
  100% {
    max-height: 0;
    margin-block: 0rem;
    padding-block: 0rem;
  }
}
.menu_buttons {
  display: grid;
  text-align: center;
  gap: 1rem;
  margin-block: 2rem;
  padding-inline-end: 1.5rem;
  height: min-content;
  font-size: 0.9rem;
}
@media screen and (min-width: 650px) {
  .menu_buttons {
    display: flex;
    align-items: center;
    margin: 0;
  }
}
.menu_buttons a {
  padding-inline: 1.5rem;
  line-height: 1.25;
}
.menu_buttons a:nth-child(2) {
  border: 1px solid hsl(0, 0%, 41%);
  border-radius: 1rem;
  padding-block: 0.75rem;
}

li {
  cursor: pointer;
}

.container {
  display: grid;
  row-gap: 3rem;
  text-align: center;
  height: min-content;
}
@media screen and (min-width: 650px) {
  .container {
    grid-template-areas: "content img" "sponsor img";
    padding-inline: 10rem 7rem;
    text-align: left;
    align-items: end;
    column-gap: 9rem;
    padding-block: 2rem 8.125rem;
    width: fit-content;
  }
  .container .container_img {
    grid-area: img;
    width: 30rem;
    margin-inline-start: auto;
  }
  .container .container_content {
    grid-area: content;
  }
  .container .container_sponsor {
    grid-area: sponsor;
  }
}

.container_content {
  display: grid;
  row-gap: 1.5rem;
}
@media screen and (min-width: 650px) {
  .container_content {
    row-gap: 3.5rem;
  }
}

.content_title {
  color: hsl(0, 0%, 8%);
  font-size: 2.25rem;
  line-height: 1;
}
@media screen and (min-width: 650px) {
  .content_title {
    font-size: 5.0625rem;
  }
}

.content_paragraph {
  padding-inline: 1rem;
}
@media screen and (min-width: 650px) {
  .content_paragraph {
    font-size: 1.125rem;
    padding-inline: unset;
    padding-inline-end: 5rem;
  }
}

.content_button {
  width: fit-content;
  margin-inline: auto;
  background-color: hsl(0, 0%, 8%);
  color: hsl(0, 0%, 98%);
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 1rem;
  border: 1px solid hsl(0, 0%, 8%);
}
@media screen and (min-width: 650px) {
  .content_button {
    margin-inline: unset;
    font-size: 1.125rem;
    padding: 1rem 2rem;
  }
}

.container_sponsor {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1rem;
}
@media screen and (min-width: 650px) {
  .container_sponsor {
    justify-content: unset;
    gap: 2.5rem;
  }
}
.container_sponsor img {
  height: 1rem;
}
@media screen and (min-width: 650px) {
  .container_sponsor img {
    height: unset;
  }
}

/* Reset */
/* Variables */
/* Components */
body {
  font-family: "Epilogue", sans-serif;
  font-size: 1rem;
  background-color: hsl(0, 0%, 98%);
  color: hsl(0, 0%, 41%);
  overflow: hidden;
}
@media screen and (min-width: 650px) {
  body {
    overflow: visible;
  }
}

a {
  text-decoration: none;
  color: inherit;
}/*# sourceMappingURL=main.css.map */