/* Font */
@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");
/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* Color */
/* Media query */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 1rem;
}

.nav_dark_layer {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 80%;
  display: none;
}

.nav_menu {
  position: absolute;
  z-index: 3;
  top: 0;
  right: 0;
  width: 15rem;
  height: 100vh;
  background-color: white;
  padding-block-start: 5rem;
  padding-inline-start: 1.5rem;
  display: none;
}
@media screen and (min-width: 650px) {
  .nav_menu {
    height: unset;
    position: unset;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0;
  }
}

.nav_menu_icon {
  margin-inline-start: auto;
  z-index: 3;
}
@media screen and (min-width: 650px) {
  .nav_menu_icon {
    display: none;
  }
}

.menu_selection {
  display: grid;
  gap: 1rem;
  height: min-content;
}
@media screen and (min-width: 650px) {
  .menu_selection {
    display: flex;
    margin-inline: 2rem;
    gap: 1rem;
  }
}

.list_header {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.selection_dropdown_list {
  position: relative;
  height: min-content;
}

.selection_dropdown_list:nth-child(1) .dropdown_list {
  list-style: none;
  padding-left: 3rem;
}
.selection_dropdown_list:nth-child(1) .dropdown_list li {
  position: relative;
  line-height: 1.25;
  margin-block: 1rem;
}
.selection_dropdown_list:nth-child(1) .dropdown_list li::before {
  content: "";
  position: absolute;
  left: -2rem;
  top: 0;
  bottom: 0;
  margin-bottom: auto;
  background-image: url(../../../images/icon-todo.svg);
  width: 1rem;
  background-size: contain;
  background-repeat: no-repeat;
}
.selection_dropdown_list:nth-child(1) .dropdown_list li:nth-child(2)::before {
  background-image: url(../../../images/icon-calendar.svg);
}
.selection_dropdown_list:nth-child(1) .dropdown_list li:nth-child(3)::before {
  background-image: url(../../../images/icon-reminders.svg);
}
.selection_dropdown_list:nth-child(1) .dropdown_list li:nth-child(4)::before {
  background-image: url(../../../images/icon-planning.svg);
}

.selection_dropdown_list:nth-child(2) .dropdown_list {
  list-style: none;
  padding-left: 1rem;
}
.selection_dropdown_list:nth-child(2) .dropdown_list li {
  margin-block: 1rem;
}

.dropdown_list {
  display: none;
  transform-origin: top center;
}
@media screen and (min-width: 650px) {
  .dropdown_list {
    position: absolute;
    right: 0;
    top: 3rem;
    box-shadow: 0px 0px 1rem -0.5rem black;
    border-radius: 1rem;
    padding-inline: 1rem;
  }
}

.menu_buttons {
  display: grid;
  text-align: center;
  gap: 1rem;
  margin-block: 2rem;
  padding-inline-end: 1.5rem;
  height: min-content;
}
@media screen and (min-width: 650px) {
  .menu_buttons {
    display: flex;
    margin: 0;
  }
}

@keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}
@keyframes growUp {
  0% {
    transform: scaleY(1);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(0);
  }
}
/* Reset */
/* Variables */
/* Components */
body {
  font-family: "Epilogue", sans-serif;
  font-size: 1.125rem;
  color: hsl(0, 0%, 41%);
}

a {
  text-decoration: none;
  color: inherit;
}/*# sourceMappingURL=main.css.map */