@use "../abstracts/variables" as v;

.menu_back_layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    background-color: black;
    opacity: 80%;
    width: 15rem;
    height: 100%;
    display: none;
}

.menu {
    position: absolute;
    display: grid;
    gap: 1rem;
    display: none;

    @media screen and (min-width: v.$min-width) {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}

.categories {
    display: grid;
    gap: 1rem;

    @media screen and (min-width: v.$min-width) {
        display: flex;
        align-items: center;
    }
}

.sign {
    display: grid;
    gap: 1rem;

    @media screen and (min-width: v.$min-width) {
        display: flex;
        align-items: center;
    }
}