@use "../abstracts/variables" as v;

.nav_bar {
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (min-width: v.$min-width) {
        padding: 2rem 2.5rem;
        justify-content: unset;
    }

}