@use "../abstracts/variables" as v;

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 1rem;

    @media screen and (min-width: v.$min-width) {
        padding: 2rem 2.5rem;
        font-size: calc(v.$fs-paragraph / 1.25);
    }
}

.nav_dark_layer {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: v.$almost-black;
    opacity: 80%;
    display: none;

    @media screen and (min-width: v.$min-width) {
        opacity: 0;
    }
}

.nav_menu {
    position: absolute;
    z-index: 3;
    top: 0;
    right: 0;
    width: 15rem;
    height: 100vh;
    background-color: v.$almost-white;
    padding-block-start: 5rem;
    padding-inline-start: 1.5rem;
    display: none;
    overflow: scroll;

    @media screen and (min-width: v.$min-width) {
        height: unset;
        position: unset;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 0;
        overflow: visible;
    }
}

.nav_menu_icon {
    margin-inline-start: auto;
    z-index: 3;

    @media screen and (min-width: v.$min-width) {
        display: none;
    }
}

.menu_selection {
    display: grid;
    gap: 1rem;

    @media screen and (min-width: v.$min-width) {
        display: flex;
        margin-inline: 4rem;
        gap: 2.5rem;
    }
}

.list_header {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.list_header:hover,
.selection_option:hover,
.menu_buttons a:hover {
    filter: brightness(0.4);
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.selection_dropdown_list {
    position: relative;
}

.selection_dropdown_list:nth-child(1) .dropdown_list {
    list-style: none;
    padding-left: 3rem;

    li {
        position: relative;
        line-height: 1.25;
    }
    
    li::before {
        content: "";
        position: absolute;
        left: -2rem;
        top: 0;
        bottom: 0;
        margin-bottom: auto;
        background-image: url(../../../images/icon-todo.svg);
        width: 1rem;
        background-size: contain;
        background-repeat: no-repeat;
    }

    li:nth-child(2)::before {
        background-image: url(../../../images/icon-calendar.svg);
    }

    li:nth-child(3)::before {
        background-image: url(../../../images/icon-reminders.svg);
    }

    li:nth-child(4)::before {
        background-image: url(../../../images/icon-planning.svg);
    }
}

.selection_dropdown_list:nth-child(2) .dropdown_list {
    list-style: none;
    padding-left: 1rem;
}

.dropdown_list {
    background-color: inherit;
    transform-origin: top center;
    transform: scaleY(0);
    max-height: 0;
    display: grid;
    gap: 1rem;
    padding-block: 0;

    @media screen and (min-width: v.$min-width) {
        position: absolute;
        right: 0;
        top: 1.5rem;
        box-shadow: 0px 0px 1rem -0.7rem black;
        border-radius: 1rem;
        padding-inline: 1rem;
        margin-block: 0;
        width: max-content;
    }
}

@keyframes dropList {
    0% {
        transform: scaleY(0);
    }

    50% {
        max-height: fit-content;
        
    }

    100% {
        transform: scale(1);
        max-height: fit-content;
        margin-block: 1rem;
        padding-block: .5rem;
    }
}

@keyframes collapseList {
    0% {
        transform: scaleY(1);
        max-height: fit-content;
    }

    50% {
        transform: scaleY(0);
    }

    100% {
        max-height: 0;
        margin-block: 0rem;
        padding-block: 0rem;
    }
}

.menu_buttons {
    display: grid;
    text-align: center;
    gap: 1rem;
    margin-block: 2rem;
    padding-inline-end: 1.5rem;
    height: min-content;
    font-size: calc(v.$fs-paragraph / 1.25);

    @media screen and (min-width: v.$min-width) {
        display: flex;
        align-items: center;
        margin: 0;
    }

    a {
        padding-inline: 1.5rem;
        line-height: 1.25;
    }

    a:nth-child(2) {
        border: 1px solid v.$medium-gray;
        border-radius: 1rem;
        padding-block: .75rem;
    }
}

li {
    cursor: pointer;
}